# Data Processing
CSPB 3287 Project\
Saloni Sharma
***
There are three parts to the data processing for this project: 
1. Combine customer data
2. Combine and clean products data
3. Generate orders/sales data

In [1]:
import pandas as pd
import numpy as np

## 1. Combine customer data sets.

In [2]:
# read in customer data sets
us = pd.read_csv('Data sets/fake-customers/us-500.csv')
ca = pd.read_csv('Data sets/fake-customers/ca-500.csv')
uk = pd.read_csv('Data sets/fake-customers/uk-500.csv')
au = pd.read_csv('Data sets/fake-customers/au-500.csv')

In [3]:
c_datasets = [us, ca, uk, au] #hold all customer data sets

#### 1.a. Drop column titled 'web' and 'company_name' since they are not needed for customers.

In [4]:
for dataset in c_datasets:
    # drop unneeded columns
    dataset.drop(['company_name', 'web'], axis=1, inplace=True)

#### 1.b. Add column for country name in each data set.

In [5]:
countries = ['United States', 'Canada', 'United Kingdom', 'Australia']

for dataset,c in zip(c_datasets,countries):
    dataset['country'] = c

#### 1.c. Add column for 'state' for UK, which will contain the corresponding country/region name.

In [6]:
EnglandCounties = [
    "Bath and North East Somerset", "Bedfordshire", "Berkshire", "Bristol", "Buckinghamshire",
    "Cambridgeshire", "Cheshire", "Cornwall", "County Durham", "Cumbria", "Derbyshire", "Devon",
    "Dorset", "East Riding of Yorkshire", "East Sussex", "Essex", "Gloucestershire", 
    "Greater London", "Greater Manchester", "Hampshire", "Herefordshire", "Hertfordshire",
    "Isle of Wight", "Isles of Scilly", "Kent", "Lancashire", "Leicestershire", "Lincolnshire",
    "Merseyside", "Norfolk", "North Somerset", "North Yorkshire", "Northamptonshire", 
    "Northumberland", "Nottinghamshire", "Oxfordshire", "Rutland", "Shropshire", "Somerset", 
    "South Gloucestershire", "South Yorkshire", "Staffordshire", "Suffolk", "Surrey", "Tyne and Wear",
    "Tyne & Wear", 'Yorkshire, South', 'North Eart Lincolnshire', 'Darlington', 
    "Warwickshire", "West Midlands", "West Sussex", "West Yorkshire", "Wiltshire","Worcestershire",
    'Yorkshire, East (North Humbers', 'E Riding of Yorkshire', 'Brighton and Hove', 'York', 'Bath Avon',
    'Bournemouth', 'Southampton', 'Hereford and Worcester', 'Stoke-on-Trent', 'Middlesbrough',
    'Yorkshire, West', 'North Lincolnshire', 'Leicester', 'Stockton-on-Tees'
]

In [7]:
ScotlandCounties = [
    "Aberdeenshire", "Angus", "Argyll and Bute", "Ayrshire", "Banffshire", 'Berwickshire',
    'Borders', 'Caithness', 'Clackmannanshire', 'Dumfries and Galloway', 'Dunbartonshire',
    'East Ayrshire', 'East Dunbartonshire', 'East Lothian', 'East Renfrewshire', 'Fife', 
    'Highland', 'Inverclyde', 'Kincardineshire', 'Lanarkshire', 'Midlothian', 'Moray',
    'North Ayrshire', 'North Lanarkshire', 'Orkney', 'Perth and Kinross', 'Renfrewshire',
    'Shetland', 'South Ayrshire', 'South Lanarkshire', 'Stirlingshire', 'Stirling', 
    'West Dunbartonshire', 'West Lothian', 'Western Isles', 'City of Edinburgh', 'Dundee City',
    'West Dunbart', 'Falkirk', 'Glasgow City'
]

In [8]:
WalesCounties = [
    'Blaenau Gwent', 'Bridgend', 'Caerphilly', 'Cardiff', 'Carmarthenshire', 'Ceredigion',
    'Conwy', 'Denbighshire', 'Flintshire', 'Gwynedd', 'Isle of Anglesey', 'Merthyr Tydfil',
    'Monmouthshire', 'Neath Port Talbot', 'Newport', 'Pembrokeshire', 'Powy', 'Rhondda Cynon Taff',
    'Swansea', 'Torfaen', 'Vale of Glamorgan', 'Wrexham'
]

In [9]:
NorthIrelandCounties = [
    'Antrim', 'Armagh', 'Down', 'Fermanagh', 'Londonderry', 'Tyrone'
]

In [10]:
# For each county, set the corresponding "state" name
for county in uk.county:
    if county in EnglandCounties:
        uk.loc[uk['county']==county, 'state'] = 'England'
    elif county in ScotlandCounties:
        uk.loc[uk.county==county, 'state'] = 'Scotland'
    elif county in WalesCounties:
        uk.loc[uk.county==county, 'state'] = 'Wales'
    # There are no counties from Northern Ireland
    elif county in NorthIrelandCounties:
        uk.loc[uk.county==county, 'state'] = 'Northern Ireland'
    # all counties are accounted for so there will be no nulls
    else:
        uk.loc[uk.county==county, 'state'] = '-1'

In [11]:
# drop county column from UK data set
uk.drop('county', axis=1, inplace=True)

#### 1.d. Format column names

In [12]:
# Rename Zip, Postal, Post columns to the same name: Zip/Postal
uk.rename(columns={'postal': 'Zip/Postal'}, inplace=True)
ca.rename(columns={'postal': 'Zip/Postal'}, inplace=True)
au.rename(columns={'post': 'Zip/Postal'}, inplace=True)
us.rename(columns={'zip': 'Zip/Postal'}, inplace=True)

In [13]:
# For Canada: rename to State since Tableau considers both as same category
ca.rename(columns={'province': 'State'}, inplace=True)

In [14]:
# there are some columns that are different across the data sets
for dataset in c_datasets:
    print(dataset.columns)

Index(['first_name', 'last_name', 'address', 'city', 'county', 'state',
       'Zip/Postal', 'phone1', 'phone2', 'email', 'country'],
      dtype='object')
Index(['first_name', 'last_name', 'address', 'city', 'State', 'Zip/Postal',
       'phone1', 'phone2', 'email', 'country'],
      dtype='object')
Index(['first_name', 'last_name', 'address', 'city', 'Zip/Postal', 'phone1',
       'phone2', 'email', 'country', 'state'],
      dtype='object')
Index(['first_name', 'last_name', 'address', 'city', 'state', 'Zip/Postal',
       'phone1', 'phone2', 'email', 'country'],
      dtype='object')

In [15]:
# capitalize all column names
for dataset in c_datasets:
    dataset.columns = dataset.columns.str.capitalize()

#### 1.e. Combine all four data sets into one.

In [16]:
# Combine all 4 data sets into one

# concat has a default outer join, which is used here
# axis=0 will stack data vertically
allcustomers = pd.concat([us, ca, uk, au], axis=0, ignore_index=True)

#### 1.d. Save combined data as new .csv file.

In [17]:
# replace all NaN with -1, which work in MySQL unlike NaN
allcustomers = allcustomers.fillna(-1)

In [18]:
# Add customer_id column
allcustomers['Customer_id'] = np.arange(1, len(allcustomers)+1)

In [22]:
# Rename state column to 'state/province'
allcustomers.rename(columns={'State': 'State/province'}, inplace=True)

In [23]:
# write dataframe to a new .csv file
allcustomers.to_csv('AllCustomers.csv', index=False)

## 2. Combine and clean products data sets.

In [14]:
# load all product category data sets
path1 = 'Data sets/products-from-newchiccom/'

acc = pd.read_csv(path1+'accessories.csv')
bags = pd.read_csv(path1+'bags.csv')
beauty = pd.read_csv(path1+'beauty.csv')
house = pd.read_csv(path1+'house.csv')
jewelry = pd.read_csv(path1+'jewelry.csv')
kids = pd.read_csv(path1+'kids.csv')
men = pd.read_csv(path1+'men.csv')
shoes = pd.read_csv(path1+'shoes.csv')
women = pd.read_csv(path1+'women.csv')

In [15]:
products = [acc, bags, beauty, house, jewelry, kids, men, shoes, women]

#### 2.a. Remove unnecessary columns from products data sets.

In [16]:
# there are many unneeded columns that will be removed
unneeded_cols = ['currency', 'codCountry', 'brand_url', 'variation_0_thumbnail', 'variation_0_image', 'variation_1_thumbnail',
    'variation_1_image', 'image_url', 'url']

In [17]:
# remove unneeded columns
for p in products:
    p.drop(unneeded_cols, axis=1, inplace=True)

#### 2.b. Format the data sets: rename columns.

In [18]:
# capitalize all column names
for p in products:
    p.columns = p.columns.str.capitalize()

In [19]:
# change raw_price to original_price to match sql schema
for p in products:
    p.rename(columns={'Raw_price': 'Original_price'}, inplace=True)

In [20]:
products[1].columns

Index(['Category', 'Subcategory', 'Name', 'Current_price', 'Original_price',
       'Discount', 'Likes_count', 'Is_new', 'Brand', 'Variation_0_color',
       'Variation_1_color', 'Id', 'Model'],
      dtype='object')

#### 2.c Combine 9 data sets into one.

In [21]:
# all sets have the same columns, so they will be simply stacked together
allproducts = pd.concat(products, axis=0, ignore_index=True)

#### 2.d. Translate some data: color names and subcategories.

In [22]:
allproducts.Variation_0_color.value_counts()

Noir                           8173
Black                          5800
blanc                          4214
rouge                          3452
Bleu                           2850
                               ...
B836 Sakura Pink Street Cat       1
Argent + Gris                     1
Deep Jacket - Grey                1
Noir clair                        1
Noir + blanc + rouge              1
Name: Variation_0_color, Length: 832, dtype: int64

In [23]:
# The most used color is Noir, so I will translate that first.

# Any color names that start with Noir, Black, black, noir, etc.
#  will be changed to just Black
black = ['Black', 'Noir', 'black', 'noir', 'Noir 1', 'Noir clair', 
         'black1', 'Black S', 'Black1', 'black2', 'Black.', '(black)',
         '10 black', 'Black 1#', 'Black2', 'Black; S', 'Black (hat)', 
         'Black L', 'SM233-1 black', '[1344] Black', 'Black 2#']

allproducts['Variation_0_color'] = allproducts['Variation_0_color'].replace(black, 'Black')
allproducts['Variation_1_color'] = allproducts['Variation_1_color'].replace(black, 'Black')

In [24]:
# replace all white color names
white = ['Blanc', 'blanc', 'Blanc 1', 'Blanc l', 'Blanc (droite)',
        'Blanc 2', 'White 1#', 'white1', 'white2', 'S223-3 white',
        'White.', 'White crane', 'White', '10 white', 'White 2#']

allproducts['Variation_0_color'] = allproducts['Variation_0_color'].replace(white, 'White')
allproducts['Variation_1_color'] = allproducts['Variation_1_color'].replace(white, 'White')

In [25]:
# replace all blues with 'Blue'
blue = ['Blue', 'blue', 'Bleu', 'bleu', 'Blue.', 'Blue 1#',
       'Blue L', 'Blue M', 'Blue1', 'Blue2', '1593 blue', 'blue2',
       'Blue 2#', 'Jean Blue', 'Bleu clair 1', 'Bleu 60ml', 
       'Bleu d&#39;eau', '\xa0Bordure bleue', 'Point Bleu', 'Un jean bleu', 
       'Bleu 2', 'Bleu 1',  'Bleu clair']

allproducts['Variation_0_color'] = allproducts['Variation_0_color'].replace(blue, 'Blue')
allproducts['Variation_1_color'] = allproducts['Variation_1_color'].replace(blue, 'Blue')

In [26]:
# replace all reds with 'Red'
red = ['Red', 'red', 'Rouge', 'rouge', 'Red1', 'RED1',
      'Brick Red', 'rouge2', 'rouge brique', 'Rouge clair',
      'Rouge 1', 'vrai rouge', 'Rose rouge', 'Rose Rouge S',
      'T1B rouge', 'Red2', 'FZS01 red', 'rose red']

allproducts['Variation_0_color'] = allproducts['Variation_0_color'].replace(red, 'Red')
allproducts['Variation_1_color'] = allproducts['Variation_1_color'].replace(red, 'Red')

In [27]:
# View subcategory values
allproducts.Subcategory.value_counts()

Shirts                  2824
Sac bandoulière         2428
Mocassins               1703
Chemises                1685
Derbies & Mocassins     1596
                        ...
Tubes & Tunnels            1
PULLS & GILETS             1
Montres en bague           1
Vêtements pour fille       1
Manteaux                   1
Name: Subcategory, Length: 664, dtype: int64

In [28]:
# Replace all shirts with 'Shirts'
shirts = ['Shirts', 'Chemises', 'Henley Shirts', 'Blouses & Chemises']
allproducts['Subcategory'] = allproducts['Subcategory'].replace(shirts, 'Shirts')

# Replace all T-shirts with 'T-Shirts'
tshirts = ['T-shirts', 'T-Shirts', 'Tops & T-shirt','Golf Shirts']
allproducts['Subcategory'] = allproducts['Subcategory'].replace(tshirts, 'T-Shirts')

# Replace all sweatershirts
sweatshirts = ['Hoodies & Sweatshirts', 'Sweatershirts', 'Sweatshirts',
              'Pulls & Sweat-shirts', 'Sweaters & Hoodies', 'Hoodies']
allproducts['Subcategory'] = allproducts['Subcategory'].replace(sweatshirts, 'Sweatshirts')

# Replace all pants/bottoms
pants = ['Pantalons', 'Pantalons & Jupes', 'Pantalons & Capris',  'PANTALONS & SHORTS',
        'Pantalons de jogging', 'Pantalons & Shorts', 'Bottoms']
allproducts['Subcategory'] = allproducts['Subcategory'].replace(pants, 'Bottoms')

# Replace jackets
jackets = ['Jackets', "Vêtements d'extérieur & Manteaux", 'MANTEAUX & PULLS', 
          'VESTES & MANTEAUX', 'Manteaux', 'Blousons & Vestes', 'Vestes', 'Vestes & Gilets']
allproducts['Subcategory'] = allproducts['Subcategory'].replace(jackets, 'Jackets')

In [29]:
# Replace all hats
hats = ['Hats', 'Beanie Hat', 'Bucket Hat', 'Straw Hats','Military Hat',
       'Chapeaux & Bonnets', 'Chapeaux']
allproducts['Subcategory'] = allproducts['Subcategory'].replace(hats, 'Hats')

# Replace all caps
caps = ['Baseball Caps', 'Flat Caps', 'Casquettes de séchage de cheveux',
       'Skull Caps',]
allproducts['Subcategory'] = allproducts['Subcategory'].replace(caps, 'Caps')

In [30]:
# Replace shoulder/crossbody bags
allproducts['Subcategory'] = allproducts['Subcategory'].replace('Sac bandoulière', 'Crossbody Bags')

#### 2.e. Replace NaN values and convert bool to int, which MySQL can work with.

In [31]:
# Add customer_id column
allproducts['Product_id'] = np.arange(1, len(allproducts)+1)

In [32]:
# Replace all NaN with -1 (both numeric and string values)
allproducts = allproducts.fillna(-1)

In [33]:
# Convert Python bool to int 0 or 1
allproducts['Is_new'] = allproducts['Is_new'].astype(int)

#### 2.f. Create .csv file for new data set.

In [34]:
# Write dataframe to .csv file
allproducts.to_csv('AllProducts.csv', index=False)

## 3. Generate an orders/sales data set.

In [33]:
AllProducts = pd.read_csv('AllProducts.csv')
AllCustomers = pd.read_csv('AllCustomers.csv')

In [34]:
print("There are", len(AllProducts), "products.")
print("There are", len(AllCustomers), "customers.")

There are 74999 products.
There are 2000 customers.

#### 3.a. Write an algorithm to randomly pair items for each customer order.

This is a rough overview of the steps.
```
def create_orders(customers, products, num_orders):
    c_list = choose num_orders of random customer_ids
    order_id = 0

    for each customer_id in c_list:
        increment order_id += 1
        y = choose random # of products per order (1,10)
        y_list = choose y random product_ids
        total_sales = 0

        for each product_id in y_list:
            sales += product_id.price

        orders = create empty pandas dataframe
        order_items = create empty dataframe

        order_items.insert(order_id, product_id, quantity)
        orders.insert(order_id, customer_id, total_sales)
    
```

#### 3.b. Write function to execute algorithm.

In [35]:
def create_orders(customers, products, num_orders):
    
    # choose 10,000 random customers for each order
    c_list = np.random.choice(customers['Customer_id'], num_orders)
    
    # create order_id
    order_id = 0
    orders_rows = []
    order_items_rows = []
    
    # for current order
    for customer_id in c_list:
        # set current order_id
        order_id += 1
        # choose a random number of products for current order
        y = np.random.choice(np.arange(1,10))
        # choose y random products
        y_list = np.random.choice(products['Product_id'], y)
        total_sales = 0
        # sum up prices of all products in current order
        current_order_items = []
        for product_id in y_list:
            quantity = 1
            total_sales += products.iloc[product_id-1]['Current_price']
            
            # add first product
            if len(current_order_items)==0:
                current_order_items.append([order_id, product_id, quantity])
                continue
            
            # check for products that are already in order
            # if true, then increase quantity
            for i in range(len(current_order_items)):
                existing_id = current_order_items[i][1]
                # if product already exists, increase quantity
                if product_id == existing_id:
                    quantity = current_order_items[i][2] + 1
                    current_order_items.remove(current_order_items[i])
                    break
                # else: if it doesn't exist, use default quantity = 1
                
            # create row for current item/product
            item_row = [order_id, product_id, quantity]
            
            # store row for current item for current order
            current_order_items.append(item_row)
            
        
        # store row for current item for current order
        #print(customer_id, "'s orders:", current_order_items)    
        for item_row in current_order_items:
            order_items_rows.append(item_row)
        # store row for current order for orders
        order_row = [order_id, customer_id, total_sales] 
        orders_rows.append(order_row)
        
    #insert rows into orders and order_items dataframes
    orders = pd.DataFrame(orders_rows, 
                          columns=['Order_id', 'Customer_id', 'Total_sales'])
    order_items = pd.DataFrame(order_items_rows, 
                               columns=['Order_id', 'Product_id', 'Quantity'])
    
    print("Created", len(c_list), "orders.")
    
    return orders, order_items

#### 3.c. Generate 10,000 orders.

In [36]:
orders_dfs = create_orders(AllCustomers, AllProducts, 10000);

Created 10000 orders.

In [37]:
Orders, Order_items = orders_dfs[0], orders_dfs[1]

In [38]:
Orders.head()

   Order_id  Customer_id  Total_sales
0         1         1487       138.30
1         2         1697        42.55
2         3          178        29.24
3         4         1266        65.02
4         5          750       203.87

In [42]:
Order_items.head()

   Order_id  Product_id  Quantity
0         1       45184         1
1         1       36563         1
2         1       18567         1
3         1       47243         1
4         2       28268         1

#### 3.d. Store both tables as new .csv files.

In [40]:
Orders.to_csv('Orders.csv', index=False)

In [41]:
Order_items.to_csv('Order_items.csv', index=False)